<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Article list</h1>
    {{#each users}}
        <h2>{{this.firstname}} {{this.lastname}}</h2>
        <ul>
            <li>{{this.age}}</li>
            <li>{{this.city}}</li>
        </ul>
    {{/each}}
</body>
</html>